- content_for :subtitle do
  Privacy Policy

.purple-banner
  .max-w-prose.mx-auto.py-8.px-2
    %h2.page-title
      Privacy Policy
    %p.tagline
      Super Effective
      = @privacy_policy.effective_date

%article.page-container
  .prose.lg:prose-xl.my-6.article-content
    = @privacy_policy.content
