- content_for :subtitle do
  New article
- content_for :tagline do
  Just Do It
- content_for :tagline_attribution do
  Shia&nbsp;L.

.max-w-prose.mx-auto.py-8
  %h1.page-title= "Editing &ldquo;#{link_to @article.title, @article, class: 'text-pink-950 underline underline-offset-4 decoration-2 decoration-pink-400 hover:decoration-transparent'}&rdquo;".html_safe
  
  = render "form", article: @article
