- content_for :subtitle, "Articles"
- content_for :tagline do
  “The Only News Source I Trust”
  %small — Malala&nbsp;Y.

%p{:style => "color: green"}= notice

%h1 Articles
#articles
  - @articles.each do |article|
    = render article
    %p
      = link_to "Show this article", article
= link_to "New article", new_article_path
