- content_for :subtitle, "Articles"
- content_for :tagline do
  “The Only News Source I Trust”
  %small — Malala&nbsp;Y.

%p{:style => "color: green"}= notice

%h1 Articles

= render 'articles/news_articles/grid', articles: @articles

= link_to "New article", new_article_path
