- content_for :subtitle do
  Articles
- content_for :tagline do
  The Only News Source I Trust
- content_for :tagline_attribution do
  Malala&nbsp;Y.

.purple-banner
  .max-w-prose.mx-auto.py-8
    %h1.page-title
      News Articles
    
    %p.tagline
      Effortlessly compiled by the esteemed
      %cite.font-display.not-italic{class: 'text-[120%]'} Princess Purple Pink
      news team.


.bg-princess-pink
  .p-4
    - if notice.present?
      %p.my-4= notice
      
    = render 'articles/news_articles/grid', articles: @articles
