- content_for :subtitle do
  New article

- content_for :tagline do
  Just Do It&reg;

.purple-banner
  .max-w-prose.mx-auto.py-8
    %h1.page-title
      Create a new article

= render 'form', article: @article
