- content_for :subtitle do
  New article
- content_for :tagline do
  Just Do It
- content_for :tagline_attribution do
  Shia&nbsp;L.

.purple-banner
  .max-w-prose.mx-auto.py-8
    %h1.page-title
      Create a New Article

    %p.tagline
      Because you have something important to tell the world.

= render 'form', article: @article
