<div class="purple-banner">
  <div class="max-w-prose mx-auto py-8">
    <h1 class="page-title">
      <%= title %>
    </h1>
    
    <% if tagline.present? %>
      <p class="tagline">
        <%= tagline %>
      </p>
    <% end %>
  </div>
</div> 