%li.flex.flex-col.xl:flex-row.bg-pink-100.shadow-lg.rounded-lg.p-4
  .flex-shrink-0.align-self-center
    .h-min.overflow-hidden
      - image_path = data[:image_url].presence || '/images/95compy_resized_300x300.jpg'
      = image_tag image_path, alt: data[:thumbnail_alt_text], width: 300, height: 300, class: 'md:mr-4 mb-4 md:mb-0 mx-auto w-100 rounded-lg', loading: 'lazy'

  .mt-0.md:mt-4.xl:mt-0.px-1
    %h3.mb-4.text-xl.font-bold.font-serif.text-pink-950.text-balance
      = data[:title]
      
    .text-gray-600.prose.my-2
      = yield
