<footer class="bg-princess-purple border-yellow-400 border-t-8 text-center py-6 text-white">
  <p class="tagline">
    &copy;
    <%= Time.current.year %>
    <cite class="logo-font"><%= site_title %></cite>
  </p>
  <nav class="my-8 mb-5">
    <ul>
      <li>
        <%= link_to 'Privacy Policy', privacy_policy_path, class: 'font-bold font-serif tracking-wide underline text-white' %>
      </li>
    </ul>
  </nav>
</footer> 