%header.bg-princess-purple.text-white.border-yellow-400.border-b-8.shadow-lg
  .container.mx-auto.text-center.py-6.px-4
    .text-4xl.font-display
      = link_to "#{site_title}", root_path
    .tagline.text-balance
      = page_tagline
  = render 'layouts/navigation'
